.header {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .profile {
        img{
            margin-right: 15px;
            width: 30px;
        }
    }
}