@import "../../../assets/scss/variables.scss";

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: white;
    z-index: -1s;
    padding-bottom: 30px;

    &-first, &-second{ 
        width: 100%;
    }

    &-title {
        width: 100%;
        font-size: 18px;
        padding: 30px 0 20px 30px;
    }

    &-container {
        width: 100%;

        a, button {
            width: 100%;
            padding: 10px 0 10px 30px;
            background: white;
            color: $color-primary;
            transition: background-color 0.3s, color 0.3s;
            height: 50px;
            border-bottom: 1px solid $color-border;

            &:first-of-type {
                border-top: 1px solid $color-border;
            }

            .icon {
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                transition: filter 0.3s;

                &-home {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                    transform: translate(-3px, 2px);
                    background-image: url(/assets/icons/home.svg);
                    filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
                }

                &-studies {
                    width: 16px;
                    height: 16px;
                    margin-right: 24px;
                    background-image: url(/assets/icons/studies.svg);
                    filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
                }

                &-feedback {
                    width: 21px;
                    height: 21px;
                    margin-right: 19px;
                    transform: translate(-3px, 3px);
                    background-image: url(/assets/icons/feedback.svg);
                    filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
                }

                &-logout {
                    width: 20px;
                    height: 20px;
                    margin-right: 19px;
                    transform: translate(-1px, 1px);
                    background-image: url(/assets/icons/logout.svg);
                    filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
                }
            }

            &:hover {
                background: $color-primary;
                color: white;

                .icon-home, .icon-studies, .icon-feedback, .icon-logout {
                    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(153deg) brightness(96%) contrast(114%);
                }
            }
        }
    }

    &-item-selected {
        background: $color-primary !important;
        color: white !important;

        .icon-home, .icon-studies, .icon-feedback, .icon-logout {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(153deg) brightness(96%) contrast(114%) !important;
        }
    }
}