<div class="container">
  <div class="title">Hello, welcome to HealthStudy platform</div>
  <div class="subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis euismod
    diam. Fusce aliquet dolor et purus tempus, ut rutrum nibh sodales. Duis at
    magna ligula. Curabitur eu condimentum orci. Mauris a tortor sed nunc porta
    auctor. Maecenas faucibus et libero a accumsan. Mauris interdum, quam nec
    viverra fringilla, mi ipsum venenatis ligula, at rhoncus tellus ligula sit
    amet magna. Vivamus mollis pretium sem, quis ultricies velit dictum in.
    Aliquam auctor dui at nunc commodo, quis rutrum est eleifend. Fusce sit amet
    sagittis justo, sit amet vestibulum sapien. In erat leo, maximus quis luctus
    a, venenatis sed nibh. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia curae;
  </div>
  <div class="subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis euismod
    diam. Fusce aliquet dolor et purus tempus, ut rutrum nibh sodales. Duis at
    magna ligula. Curabitur eu condimentum orci. Mauris a tortor sed nunc porta
    auctor. Maecenas faucibus et libero a accumsan. Mauris interdum, quam nec
    viverra fringilla, mi ipsum venenatis ligula, at rhoncus tellus ligula sit
    amet magna. Vivamus mollis pretium sem, quis ultricies velit dictum in.
    Aliquam auctor dui at nunc commodo, quis rutrum est eleifend. Fusce sit amet
    sagittis justo, sit amet vestibulum sapien. In erat leo, maximus quis luctus
    a, venenatis sed nibh. Vestibulum ante ipsum primis in faucibus orci luctus
    et ultrices posuere cubilia curae;
  </div>
</div>
