/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "assets/scss/reset";
@import "assets/scss/typography";
@import "assets/scss/mixins";
@import "assets/scss/variables";
@import "assets/scss/layout";

* {
  font-size: 14px;
  font-family: RobotoRegular, Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.21;
}

html {
  min-height: 100%;
  // min-height: -webkit-fill-available;
}

body {
  min-height: 100%;
  margin: 0;
  overflow: auto;
  height: 100vh;
}

input,
textarea {
  outline: 0;
}

button {
  user-select: none;
}

input, textarea {
  width: 200px;
  line-height: 35px;
  border: 2px solid $color-border;
  border-radius: 10px;
  padding: 0 10px;
  transition: border-color 0.3s;

  &:focus {
    border-color: $color-primary;
  }

  &::placeholder {
    color: $color-border;
  }

  &[type="checkbox"] {
    width: unset;
  }
}

.btn {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  &-primary {
    background: $color-primary;
    color: #fff;
    transition: background 0.3s;

    &:hover {
      background-color: $color-primary-1;
    }
  }

  &-outline {
      background: #fff;
      color: $color-primary;
      border: 2px solid $color-primary;
      transition: background 0.3s;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &-danger {
    background: $color-danger;
    color: #fff;
    transition: background 0.3s;

    &:hover {
      background-color: $color-danger-1;
    }
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  font-family: RobotoMedium;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.form-error {
  color: $color-danger;
  font-size: 11px;
  font-family: RobotoItalic;
  top: calc(100% + 2px);
  position: absolute;
}

.form-group {
  margin-bottom: 30px;
}

.error {
  border-color: $color-danger;
}

.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  transition: filter 0.3s;

  &-home {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      transform: translate(-3px, 2px);
      background-image: url(/assets/icons/home.svg);
      filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
  }

  &-studies {
      width: 16px;
      height: 16px;
      margin-right: 24px;
      background-image: url(/assets/icons/studies.svg);
      filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
  }

  &-feedback {
      width: 21px;
      height: 21px;
      margin-right: 19px;
      transform: translate(-3px, 3px);
      background-image: url(/assets/icons/feedback.svg);
      filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
  }

  &-logout {
      width: 20px;
      height: 20px;
      margin-right: 19px;
      transform: translate(-1px, 1px);
      background-image: url(/assets/icons/logout.svg);
      filter: invert(66%) sepia(85%) saturate(5287%) hue-rotate(191deg) brightness(100%) contrast(102%);
  }

  &-trash {
    width: 20px;
    height: 20px;
    margin-right: 19px;
    transform: translate(-1px, 1px);
    background-image: url(/assets/icons/trash.svg);
    filter: invert(38%) sepia(55%) saturate(7141%) hue-rotate(348deg) brightness(98%) contrast(91%);
  }
}
