.flex {
    display: flex;

    &.al-center {
        align-items: center;
    }

    &.al-end {
        align-items: flex-end;
    }

    &.al-start {
        align-items: flex-start;
    }

    &.al-stretch {
        align-items: stretch;
    }

    &.center {
        justify-content: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.spaced {
        justify-content: space-between;
    }

    &.column {
        flex-direction: column;
    }

    &.full {
        flex: 1;
    }
}

.grid {
    display: grid;
}

